.header{
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    height: 25px;
    background-image: linear-gradient(to right,red,green,yellow);
    text-decoration: underline;
}
.box{
    border: 2px solid red;
    border-radius: 10px;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    height: 100px;
    width: 700px;
    background-color: darkcyan;
    color: crimson;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
/* .flex-container{
    background-color: aquamarine;
    display: flex;
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 5px;
}
.flex-item{
    height: 70px;
    width: 900px;
    border: 2px solid salmon;
    color: black;
    background-color: aqua;
    border-radius: 5px;
}
.flex-item1{
    height: 70px;
    width: 900px;
    border: 2px solid salmon;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    margin-left: 30px;
}
.flex-item2{
    height: 70px;
    width: 900px;
    border: 2px solid salmon;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    margin-left: 30px;
}
.flex-item3{
    height: 70px;
    width: 430px;
    border: 2px solid salmon;
    color: black;
    background-color: aqua;
    border-radius: 5px;
    margin-left: 460px;
    
} */
.grid-container1{
    display: grid;
    grid-template-columns: 430px 430px 430px;
    grid-template-rows: 70px 70px 70px;
    row-gap: 5px;
    column-gap: 10px;
    border: 2px solid red;
    background-color: aquamarine;
    border-radius: 5px;
    margin-top: 20px;
    height: 150px;
}
.grid-item6{
    background-color: aqua;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid green;
    color: salmon;
    border-radius: 5px;
}
.grid-item7{
    background-color: aqua;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid green;
    color: salmon;
    border-radius: 5px;
}
.grid-item8{
    background-color: aqua;
    margin-top: 5px;
    margin-left: 10px;
    border: 2px solid green;
    color: salmon;
    border-radius: 5px;
}
.grid-item9{
    background-color: aqua;
    margin-left: 450px;
    border: 2px solid green;
    color: salmon;
    border-radius: 5px;
    height: 70px;
    width: 410px;
}
.multicolor{
    margin-top: 20px;
}
.flex-container1{
    display: flex;
    margin-top: 20px;
    border: 2px solid blue;
    border-radius: 5px;
    background-image: linear-gradient(to top,red,green,yellow,blue,indigo,gray,violet);
    text-decoration: underline;
    height: 200px;
    width: 1310px;
}
.flex-item4{
    height: 70px;
    width: 150px;
    background-color: yellow;
    border: 2px solid black;
    color: red;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 70px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.flex-item5{
    height: 70px;
    width: 150px;
    background-color: yellow;
    border: 2px solid black;
    color: red;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.flex-item6{
    height: 70px;
    width: 150px;
    background-color: yellow;
    border: 2px solid black;
    color: red;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bolder;
}
.flex-item7{
    height: 70px;
    width: 150px;
    background-color: yellow;
    border: 2px solid black;
    color: red;
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 120px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bolder;
}
/* .multicolor1{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: red;
    margin-top: 20px;
    height: 40px;
} */
/* .flex-container2{
    display: flex;
    margin-top: 20px;
}
.flex-item8{
    height: 70px;
    width: 450px;
    background-color: greenyellow;
    color: red;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}
.flex-item9{
    height: 70px;
    width: 450px;
    background-color: burlywood;
    color: red;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.flex-item10{
    height: 80px;
    width: 450px;
    background-color: violet;
    color: red;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bolder;
}
.flex-item11{
    height: 200px;
    width: 100px;
    background-color: black;
    color: white;
    text-decoration: underline;
    margin-left: 20px;
    text-align: left;
}
.para{
    background-color: cornflowerblue;
    color: wheat;
    font-size: larger;
    font-weight: bolder;
    height: 100px;
    width: 1200px;
} */
 /* .footer{ 
    background-color: aqua;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    height: 20px;
    margin-top: 20px;
}  */
.box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr)100px;
    grid-template-rows: 60px 100px 200px 60px;
    grid-gap: 20px;
    width: 75%;
    margin: 50px auto;
    text-align: center;
}
.box-item1{
     background-color: red;
     grid-column: 1/5;
     color: wheat;
}
.box-item2{
    background-color: yellowgreen;
    color: wheat;
}
.box-item3{
    background-color: blueviolet;
    color: wheat;
}
.box-item4{
    background-color: gray;
    color: wheat;
}
.box-item5{
    background-color: black;
    color: wheat;
    grid-row: 2/4;
    grid-column: 4/5;
}
.box-item6{
    background-color: orange;
    color: wheat;
    grid-column: 1/4;
}
.box-item7{
    background-color: aqua;
    color: black;
    grid-column: 1/5;
}
